.big{
	width : 550px;
	height : 420px;
	margin : auto;
	background : #68f293;
	font-family : arial;
	border-radius : 15px;
}

.kotak{
	width : 300px;
	height : 300px;
	padding-top : 20px;
	margin: auto;
}

h1{
	margin-left : 100px;
	padding-top : 30px;
}

input[type=text]{
	width : 100%;
}

input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover{
	background-color : #3a873d;
}